body{
  background-color: rgb(200, 255, 127);
}




.redes-sociales a img {
  max-width: 30px; /* Ancho máximo de las imágenes */
  height: auto; /* Para mantener la proporción */
  top: 30%;
  left: 30%;
 size-adjust: 5px;
 padding: .3%;
 

}


.PERFILES {
  display: flex;
  justify-content: space-around; /* Espaciado equitativo entre las imágenes */
}

.image-container {
  position: relative;
  text-align: center;
}

.titulo-imagen {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente para el título */
  padding: 5px; /* Espaciado alrededor del título */
  display: none; /* Ocultar el título inicialmente */
}

.image-container:hover .titulo-imagen {
  display: block; /* Mostrar el título al pasar el cursor sobre la imagen */
  size: auto;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: auto;
}





h2 {
  text-align: center;
  margin: 0 auto;
  width: 500px;
  size: 100px;
}

/* Estilos para la imagen específica */
.small-image {
  max-width: 150px; /* Ancho máximo de la imagen */
  display: block; /* Para asegurar que el margen auto funcione */
  margin: 0 auto; /* Centrar horizontalmente */
}

.label {
  size-adjust: 70PX;

}

